<h2>Link Artist/Partner:</h2>
<p>Please link artists and partners that collaborate together. Select one artist and partner to link at a time.</p>
<form id="newArtistPartner" action="/artistPartner" method="post" >
    Artist: <br>
    <select name="artist">
      {{#each artists}}
      <option value={{this.id}}>{{this.name}}</option>
      {{/each}}
    </select> <br>
    Partner: <br>
    <select name="partner">
      {{#each partners}}
      <option value={{this.id}}>{{this.name}}</option>
      {{/each}}
    </select> <br>
    <input type="submit">
</form>


<h2>Creative Difference?</h2>

Has an artist/partner pair uncovered a creative difference?<br>Select a pair below to break up:<br>

<table>
  <thead>
    <th>Artist</th>
    <th>Partner</th>
  </thead>
  <tbody>
    {{#each artist_partners}}
    <tr>
      <td>{{this.artistName}}</td>
      <td>{{this.partnerName}}</td>
      <td><button onclick="deleteArtistPartner({{this.artist_id}}, {{this.partner_id}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
