<h2>Add Artist:</h2>
<form class="" action="/artist" method="post" id="newArtist">
    Name: <br>
    <input required id = "artist_name" type="text" name="name"> <br>
    Hometown: <br>
    <input id = "artist_hometown" type="text" name="hometown"> <br>
    Birthday (Year): <br>
    <input id = "artist_birth" type="number" name="birthday"> <br>
    Deathday (Year): <br>
    <input id = "artist_death" type="number" name="deathday"> <br>
    Biography: <br>
    <textarea id = "artist_bio" rows="4" cols="50" name="comment" form="newArtist"></textarea> <br>
    <br>
    <br>
    Artwork: <br>
    Title: <br>
    <input required id = "artwork_title" type="text" name="artist_title"> <br>
    Category: <br>
    <input id = "artwork_category" type="text" name="artist_category"> <br>
    Date (Year): <br>
    <input id = "artwork_date" type="number" name="artist_date"> <br>
    Thumbnail URL: <br>
    <input id = "artwork_thumbnail" type="url" name="artist_thumbnail"> <br>
    Partner: <br>
    <select id = "artwork_partners" name="artist_partner">
      <option value="null">NONE</option>
      {{#each partners}}
        <option value={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select> <br>

    Gene (Select at least one): <br>
    <select multiple required id = "artwork_genes" name="genes_to_link">
      {{#each genes}}
        <option value={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select> <br>

    <input type="submit">
</form>

<br>
<h2>Artists:</h2> 
<table>
  <tr>
    <th>Artist</th>
    <th>Hometown</th>
    <th>Birthday</th>
    <th>Deathday</th>
    <th>Biography</th>
  </tr>

  {{#each artists}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.hometown}}</td>
    <td>{{this.birthday}}</td>
    <td>{{this.deathday}}</td>
    <td>{{this.biography}}</td>
  </tr>
  {{/each}}
</table>
