<h2>Add Artwork:</h2>
<form class="" action="index.html" method="post" id="newArtwork">
    Title: <br>
    <input type="text" name="title"> <br>
    Artist: <br>
    <select name="artist">
      {{#each artists}}
        <option value={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select> <br>
    Category: <br>
    <input type="text" name="category"> <br>
    Date: <br>
    <input type="date" name="date"> <br>
    Thumbnail URL: <br>
    <input type="url" name="thumbnail"> <br>
    Partner: <br>
    <select name="partner">
      <option value="null">NONE</option>
      {{#each partners}}
        <option value={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select> <br>

    Gene (Select at least one): <br>
    <select multiple required name="genes_to_link">
      {{#each genes}}
        <option value={{this.name}}>{{this.name}}</option>
      {{/each}}
    </select> <br>

    <input type="submit">
</form>

<h2>Artwork in Collection</h2>
<div class="card-columns">
  {{#each artwork}}
    <div class = "card" style = "width: 18rem;">
      <img class="card-img-top" src={{this.thumbnail_url}} alt="Mona Lisa">
      <div class = "card-body">
        <h5 class="card-title">{{this.title}}</h5><br>
        <em>Artist:</em> {{this.artist_name}}<br>
        <em>Category:</em> {{this.category}}<br>
        <em>Date:</em> {{this.date}}<br>
        <em>Genes:</em>{{this.gene_names_comb}}<br>
        <em>Partner:</em> {{this.partner_name}}<br>
        <button class = "btn-primary" data-toggle="modal" data-target="#partnerChangeModal">Move Artwork</button>
        <button class = "btn-secondary">Delete Artwork</button>
      </div>
    </div>
  {{/each}}
</div>



<div class="modal fade" id="partnerChangeModal" tabindex="-1" role="dialog" aria-labelledby="partnerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="partnerModalTitle">Select New Partner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" name="Search for Partner">
        <ul>
          {{#each partners}}
            <li value={{this.name}}>{{this.name}}</li>
          {{/each}}
        </ul>
        Note: when this website is connected to a backend, this will implement search/filter functionality
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

