<h2>Add Partner:</h2>
<form id="newPartner" action="/partner" method="post" i>
    Name: <br>
    <input type="text" name="name"> <br>
    Type: <br>
    <input type="text" name="type"> <br>
    Email: <br>
    <input type="email" name="birthday"> <br>
    Region: <br>
    <input type="text" name="region"> <br>
    <input type="submit">
</form>

<h2>Partners:</h2>
If a partner is no longer working, please remove them from the list.</br>

<table>
  <thead>
    <th>Name</th>
    <th>Type</th>
    <th>Email</th>
    <th>Region</th>
  </thead>
  <tbody>
    {{#each partner}}
    <tr>
      <td>{{name}}</td>
      <td>{{type}}</td>
      <td>{{email}}</td>
      <td>{{region}}</td>
      <td><button onclick="deletePartner({{id}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
