<h2>Move Artwork:</h2>

<div class = "card" style = "width: 18rem;">
  <img class="card-img-top" src= {{this.thumbnail_url}} onload="this.onload=null; this.src=cleanPhotoURL('{{thumbnail_url}}');" />
  <div class = "card-body">
    <h5 class="card-title">{{this.artworkToUpdate.title}}</h5><br>
    <em>Artist:</em> {{this.artworkToUpdate.artist_name}}<br>
    <em>Category:</em> {{this.artworkToUpdate.category}}<br>
    <em>Date:</em> {{this.artworkToUpdate.date}}<br>
    <em>Genes:</em>{{this.artworkToUpdate.gene_names_comb}}<br>
    <em>Partner:</em> {{this.artworkToUpdate.partner_name}}<br>
  </div>
</div>


Which partner would you like to move this artwork to?<br>
<form id = "move-artwork" action="/artwork" method="post">
	<input type="text" id="partner-search-string">
	<select id="new_partner" name="new_partner">
		<option class="partner-li" value="null">NONE</option>
		{{#each partners}}
		<option class="partner-li" value={{this.id}}>{{this.name}}</option>
		{{/each}}
	</select>
	<button onclick="updateArtwork({{this.artworkToUpdate.id}})">Change Partner</button>
</form>
	