<h2>Move Artwork:</h2>

<div class = "card" style = "width: 18rem;">
  <img class="card-img-top" src={{this.artworkToUpdate.thumbnail_url}}>
  <div class = "card-body">
    <h5 class="card-title">{{this.artworkToUpdate.title}}</h5><br>
    <em>Artist:</em> {{this.artworkToUpdate.artist_name}}<br>
    <em>Category:</em> {{this.artworkToUpdate.category}}<br>
    <em>Date:</em> {{this.artworkToUpdate.date}}<br>
    <em>Genes:</em>{{this.artworkToUpdate.gene_names_comb}}<br>
    <em>Partner:</em> {{this.artworkToUpdate.partner_name}}<br>
  </div>
</div>


Which partner would you like to move this artwork to?<br>
<form>
	<input type="text" id="partner-search-string" onkeyup="filterValues()">
	<!--select id="new_partner" name="new_partner"-->
		<input type="radio" name="partner-choices" class="partner-li" value="null">NONE</option>
		{{#each partners}}
		<input type="radio" name="partner-choices" class="partner-li" value={{this.id}}>{{this.name}}</option>
		{{/each}}
	<!--/select-->
	<button type="submit">Change Partner</button>
</form>
	